nav {
  z-index: 100;
  top: 280px;
  left: 38px;
  width: 120px;
  position: fixed;
  transition: 0.9s;
}
nav > ul {
  display: none;
}
nav > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 50px;
  border: 1px solid black;
  margin-top: 12px;
  margin-bottom: 12px;
}
nav > ul > li:hover {
  color: red;
  cursor: pointer;
}
nav > ul > li:hover li {
  color: black;
  cursor: pointer;
}
nav > ul .allHeroes:hover ol {
  display: flex;
}
nav > ul .allHeroes > ol {
  margin-left: -10px;
  left: 150px;
  display: none;
  position: absolute;
  flex-direction: column;
  height: 120px;
}
nav > ul .allHeroes > ol > li {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 150px;
  height: 50px;
  border: 1px solid black;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
nav > ul .allHeroes > ol > li:hover {
  color: red;
  cursor: pointer;
}
nav .toggleNav {
  height: 350px;
  width: 30px;
  border: 1px solid black;
  position: fixed;
  top: 270px;
  left: 40px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  transition: 0.9s;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .toggleNav:hover {
  color: red;
  cursor: pointer;
}
nav .toggleNav span {
  writing-mode: tb-rl;
  font-family: "Arial Black", sans-serif;
  font-size: 1.5em;
}
@media (min-width: 1500px) {
  nav .toggleNav {
    top: 340px;
  }
}
@media (max-width: 1300px) {
  nav .toggleNav {
    top: 240px;
  }
}
@media (max-width: 1100px) {
  nav .toggleNav {
    top: 190px;
  }
}
nav .toggleNav2 {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
nav .scroll2 {
  top: 140px;
}
nav .scrollWheel {
  width: 45px;
  height: 45px;
  border: 1px solid black;
  position: fixed;
  bottom: 20px;
  display: none;
  justify-content: center;
  align-items: center;
  font-family: "Bauhaus 93", fantasy;
  font-size: 2.25em;
  transform: rotate(270deg);
  transition: 0.5s;
}
nav .scrollWheel:after {
  content: ">";
}
@media (min-width: 1500px) {
  nav {
    top: 350px;
  }
}
@media (max-width: 1300px) {
  nav {
    top: 250px;
  }
}
@media (max-width: 1100px) {
  nav {
    top: 200px;
  }
}
.scroll {
  top: 150px;
}
.headCart {
  z-index: 101;
  width: 150px;
  height: 20px;
  position: fixed;
  right: 1px;
  background: white;
  font-family: "Century Gothic", sans-serif;
  font-size: 0.75em;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 1s;
}
.headCart:hover {
  transition: 0.1s;
  height: 55px;
}
.headCart:hover > div {
  display: flex;
}
.headCart > div {
  border: 1px solid black;
  margin-top: 4px;
  display: none;
  padding: 2px;
}
.headCart > div .heart {
  height: 32px;
  width: 32px;
  margin-left: 7px;
  margin-right: 7px;
}
.headCart > div .miniCart {
  height: 32px;
  width: 32px;
  margin-left: 7px;
  margin-right: 7px;
}
.headCart > div .miniCart .buyNumberMini {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  color: black;
  background: red;
  right: 30px;
  top: 15px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.mainCart {
  position: fixed;
  width: 300px;
  right: 10px;
  bottom: 10px;
  z-index: 101;
  background: white;
}
.mainCart .price {
  position: relative;
  left: 210px;
  margin-bottom: -20px;
  width: 50px;
  font-size: 1.5em;
}
.mainCart .buyNumber {
  width: 25px;
  height: 25px;
  background: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 275px;
  top: -10px;
  position: relative;
}
.mainCart .toggleCart {
  border: 1px solid black;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainCart .toggleCart:after {
  transform: rotate(90deg);
  content: "||";
}
.mainCart .cartContent {
  height: 110px;
  border: 1px solid black;
  transition: 0.7s;
  display: flex;
  overflow: auto;
}
.mainCart .cartContent.empty .empty-massage {
  display: block;
}
.mainCart .cartContent .empty-massage {
  font: bold 1.5em arial;
  display: none;
}
.mainCart .cartContent .cart-item {
  border: 1px solid black;
  width: 70px;
  height: 85px;
  margin: 3px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mainCart .cartContent .cart-item .cartPhotoes img {
  width: 64px;
  height: 64px;
}
.mainCart .cartContent .cart-item .deleteGood {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainCart .cartContent .cart-item .deleteGood:hover {
  color: red;
  cursor: pointer;
}
footer {
  height: 200px;
  width: 80%;
  background: blue;
  position: relative;
  left: 180px;
  top: 50px;
}
@media (max-width: 1200px) {
  footer {
    width: 75%;
  }
}
@media (max-width: 1000px) {
  footer {
    width: 70%;
  }
}
footer .footMenu {
  height: 160px;
}
footer .copywrite {
  display: flex;
  align-items: center;
  padding-left: 60px;
  height: 40px;
  background: red;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 350px;
}
header .getHead {
  box-sizing: border-box;
  width: 99%;
  height: 99%;
  padding-left: 140px;
  padding-right: 80px;
}
header .getHead .headChoose {
  display: flex;
  background: url("../img/head.png") no-repeat;
  width: 100%;
  height: 100%;
  background-size: contain;
}
.goods-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.goods-list .goods {
  border: 1px solid black;
  width: 270px;
  height: 400px;
  margin: 40px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.goods-list .goods .itemName {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  margin-top: 20px;
}
.goods-list .goods .itemInfo {
  width: 250px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}
.goods-list .goods .itemInfo > div {
  width: 70px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.goods-list .goods .itemImg {
  background: url("../img/heroes/marvel/deadpool1.png") no-repeat;
  width: 256px;
  height: 256px;
  border: 1px solid black;
}
main .GoodBig {
  position: fixed;
  background: white;
  top: 15%;
  left: 15%;
  width: 70%;
  height: 70%;
  z-index: 200;
  overflow: auto;
}
main .GoodBig.hide {
  display: none;
}
main .GoodBig .closeGood {
  border: 1px solid black;
  height: 20px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
main .GoodBig .closeGood:hover {
  color: red;
  cursor: pointer;
  font-size: 1.1em;
}
main .GoodBig .goodContent {
  width: 100%;
  height: 65%;
  min-height: 300px;
  display: flex;
}
main .GoodBig .goodContent .bigPhoto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  min-width: 350px;
  width: 40%;
  max-width: 500px;
  height: 100%;
  padding: 10px;
  border: 1px solid black;
  font-size: 1.5em;
  color: red;
}
main .GoodBig .goodContent .bigPhoto > img {
  width: 256px;
  height: 256px;
  border: 1px solid black;
}
main .GoodBig .goodContent .bigPhoto .itemInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 18%;
  max-height: 80px;
  margin-bottom: 5px;
  border: 1px solid black;
}
main .GoodBig .goodContent .miniPhotos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 110px;
  height: 100%;
  border: 1px solid black;
}
main .GoodBig .goodContent .miniPhotos > img {
  height: 96px;
  width: 96px;
}
main .GoodBig .goodInfo {
  width: 100%;
  height: 35%;
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .GoodBig .goodInfo .goodText {
  margin: 20px;
  font-size: 1.5em;
  display: inline-block;
  height: 70%;
  width: 90%;
}
body {
  background: grey;
}
main {
  z-index: 99;
  min-height: 800px;
  max-height: 5000px;
  width: 80%;
  border: 1px solid black;
  margin-left: 182px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media (max-width: 1200px) {
  main {
    width: 75%;
  }
}
@media (max-width: 1000px) {
  main {
    width: 70%;
  }
}
