nav {
  z-index: 100;
  top: 280px;
  left: 38px;
  width: 120px;
  position: fixed;
  transition: 0.9s;
}
nav ul {
  display: none;
}
nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 50px;
  border: 1px solid black;
  margin-top: 12px;
  margin-bottom: 12px;
}
nav .toggleNav {
  height: 350px;
  width: 30px;
  border: 1px solid black;
  position: fixed;
  top: 270px;
  left: 40px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  transition: 0.9s;
}
@media (min-width: 1500px) {
  nav .toggleNav {
    top: 340px;
  }
}
@media (max-width: 1300px) {
  nav .toggleNav {
    top: 240px;
  }
}
@media (max-width: 1100px) {
  nav .toggleNav {
    top: 190px;
  }
}
nav .toggleNav2 {
  border-radius: 30px 0 0 30px;
}
@media (min-width: 1500px) {
  nav {
    top: 350px;
  }
}
@media (max-width: 1300px) {
  nav {
    top: 250px;
  }
}
@media (max-width: 1100px) {
  nav {
    top: 200px;
  }
}
.headCart {
  z-index: 101;
  width: 200px;
  height: 100px;
  position: fixed;
  right: 1px;
  background: white;
}
.headCart .heart {
  height: 32px;
  width: 32px;
}
.headCart .miniCart {
  height: 32px;
  width: 32px;
}
footer {
  width: 80%;
  height: 200px;
  background: blue;
  position: relative;
  left: 180px;
  top: 50px;
}
@media (max-width: 1200px) {
  footer {
    width: 75%;
  }
}
@media (max-width: 1000px) {
  footer {
    width: 70%;
  }
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 350px;
}
header .getHead {
  box-sizing: border-box;
  width: 99%;
  height: 99%;
  padding-left: 140px;
  padding-right: 80px;
}
header .getHead .headChoose {
  display: flex;
  background: url("../img/head.png") no-repeat;
  width: 100%;
  height: 100%;
  background-size: contain;
}
main {
  z-index: 99;
  height: 1000px;
  width: 80%;
  border: 1px solid black;
  margin-left: 182px;
}
@media (max-width: 1200px) {
  main {
    width: 75%;
  }
}
@media (max-width: 1000px) {
  main {
    width: 70%;
  }
}
