header .headCart {
  width: 200px;
  height: 100px;
  position: fixed;
  right: 1px;
  background: red;
}
header .headChoose {
  width: auto;
  height: 225px;
  background: blue;
}
header .headChoose .dcselect {
  background-image: url("img/dc");
}
main {
  height: 1500px;
}
