.headCart {
  z-index: 101;
  width: 180px;
 // height: 20px;
  height: 105px;
  position: fixed;
  right: 1px;
  background: grey;
  font-family: "Century Gothic", sans-serif;
  font-size: 0.75em;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 1s;

  .form {

    margin-top: 5px;
    display: flex;
   // display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    input {
      width: 120px;

    }
    button {
      width: 50px;
    }
  }
  &:hover {
    transition: 0.1s;
    height: 105px;

    > div, .form {
      display: flex;
    }
  }
  > div {
    border: @bord;
    margin-top: 4px;
   // display: none;
    display: flex;
    padding: 2px;

    .heart {
      height: 32px;
      width: 32px;
      margin-left: 7px;
      margin-right: 7px;
    }

    .miniCart {
      .buyNumberMini {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        color: black;
        background: red;
        right: 45px;
        top: 57px;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
      }
      .heart;
    }
  }
}
.mainCart {
   position: fixed;
   width: 300px;
   right: 10px;
   bottom: 10px;
   z-index: 101;

  .price {
    position: relative;
    left: 210px;
    margin-bottom: -20px;
    width: 50px;
    font-size: @s;
  }
  .buyNumber {
    width: 25px;
    height: 25px;
    background: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 275px;
    top: -10px;
    position: relative;

  }
   .toggleCart {
     background: grey;
     border: @bord;
     height: 20px;
     display: flex;
     justify-content: center;
     align-items: center;

     &:after {
       transform: rotate(90deg);
       content: "||";
     }
   }
   .cartContent {
     background: grey;
     height: 110px;
     border: @bord;
     transition: 0.7s;
     display: flex;
     overflow: auto;
      &.empty {
        .empty-massage {
          display: flex;
        }
      }

     .empty-massage {
        font: bold @s arial ;
        display: none;
        align-items: center;
     }

     .cart-item {
       border: @bord;
       width: 70px;
       height: 85px;
       margin: 3px 5px;
       display: flex;
       flex-direction: column;
       justify-content: center;

       .cartPhotoes {
        img {
          width: 64px;
          height: 64px;
        }
       }
       .deleteGood {
         display: flex;
         align-items: center;
         justify-content: center;
         &:hover {
           color: red;
           cursor: pointer;
         }
       }

     }

   }
 }