footer {
  width: 80%;
  height: 200px;
  background: @test2;
  position: relative;
  left: 180px;
  top: 50px;
  @media (max-width: 1200px) {
    width: 75%;
  }
  @media (max-width: 1000px) {
    width: 70%;
  }
}