@import "nav.less";
@import "cart.less";
@import "footter.less";
@import "styles.less";
@import "header.less";
@import "items.less";
@import "good.less";
body {
  background: grey;
}
main {
  z-index: 99;
  min-height: 800px;
  max-height: 5000px;
  width: 80%;
  border: @bord;
  margin-left: 182px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  @media (max-width: 1200px) {
    width: 75%;
  }
  @media (max-width: 1000px) {
    width: 70%;
  }
}