nav {
  z-index: 100;
  top: 280px;
  left: 38px;
  width: 120px;
  position: fixed;
  transition: 0.9s;
  > ul {
    display: none;
    > li {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 140px;
      height: 50px;
      border: @bord;
      margin-top: 12px;
      margin-bottom: 12px;
    }

    .allHeroes {
      &:hover {
         ol {
          display: flex;
        }
      }
      > ol {
        margin-left: -10px;
        left: 150px;
        display: none;
        position: absolute;
        flex-direction: column;
        height: 120px;
        > li {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          width: 150px;
          height: 50px;
          border: @bord;
          margin-left: 10px;
          margin-top: 10px;
          margin-bottom: 10px;
        }
      }
    }
  }
  .toggleNav {
    height: 350px;
    width: 30px;
    border: @bord;
    position: fixed;
    top: 270px;
    left: 40px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    transition: 0.9s;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      writing-mode: tb-rl;
      font-family: "Arial Black", sans-serif;
      font-size: @s;

    }
    @media (min-width: 1500px) {
      top: 340px;
    }
    @media (max-width: 1300px) {
      top: 240px;
    }
    @media (max-width: 1100px) {
      top: 190px;
    }
  }
  .toggleNav2 {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }
  .scroll2 {
    top: 140px;
  }

  .scrollWheel {
    width: 45px;
    height: 45px;
    border: @bord;
    position: fixed;
    bottom: 20px;
    display: none;
    justify-content: center;
    align-items: center;
    font-family: "Bauhaus 93", fantasy;
    font-size: 1.5*@s;
    transform: rotate(270deg);
    transition: 0.5s;

    &:after {
      content: ">";
    }
  }
  @media (min-width: 1500px) {
    top: 350px;
  }
  @media (max-width: 1300px) {
    top: 250px;
  }
  @media (max-width: 1100px) {
    top: 200px;
  }
}
.scroll {
  top: 150px;
}
